#content-wrapper {
    display: flex;
    justify-content: center;
}

#content-container {
    font-size: 24px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-container:hover {
    background-color: lightgray;
    opacity: 0.75;
}

a, a:visited, a:link, a:hover {
    color: black;
    text-decoration: none;
}

/* .link-description {
    display: none;
} */

.link-description {
    font-size: 18px;
    color: gray;
    display: inline;
}