#content-wrapper {
    display: flex;
    justify-content: center;
}

#content-container {
    font-size: 24px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-container:hover {
    background-color: lightgray;
    opacity: 0.75;
}

a, a:visited, a:link {
    text-decoration: none;
}