body {
    padding: 0;
    margin: 0;
}

#video-container {
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover ; 
}

#text-container {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: white;
    font-size: 40px;
}