@font-face {
    font-family: "sofiapro";
    src: url("/static/fonts/sofiapro.otf") format("opentype");
}

#content-container {
    max-width: 1600px;
}

body {
    font-family: "Sofia Pro", sans-serif;
}

#navs-container {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#promo-nav-container {
    top: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
    background-color: #212529;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    padding: 0 12px;
    transition: margin .3s linear;
    position: relative;
}

#navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0 12px;
    box-shadow: 0 1px 2px 0 rgba(227, 233, 246, .75);
}

#navigation-container {
    width: 1600px;
    font-size: 20px;
    height: 60px;
    padding: 0 20px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container {
    /* flex: 1; */
}
#nav-links-container {
    /* display: flex;
    /* align-items: center; */ */
    height: 100%;
}
#search-container {
    /* flex: 1; */
    text-align: right;
}

.rug-button {
    background-color: #ffce29;
    border-radius: 30px;
    font-size: 20px;
    padding: 0 50px 3px;
    border: 0 transparent;
    min-height: 57px;
    min-width: 150px;
}

#header-btn-container {
    padding-top: 20px;
}

.nav-items {
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0 2rem;
}

.nav-items:hover {
    border-bottom: 2px solid #d9a600;
    
}

.nav-ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: inline; */
    color: #2f333d;
}

.nav-ul a {
    text-decoration: none;
}

a {
    color: inherit;
}

#puppy-header-text {
    color: #fff;
    max-width: 800px;
    text-align: center;
}

h1 {
    font-size: 75px;
}
h2 {
    font-size: 40px;
}

#works-container {
    padding-top: 30px;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
}

#how-rugs-work-container {
    padding: 30px;
    flex: 1 1;
    font-size: 18px;
}
#rugs-work-img-container {
    padding: 0 30px;
    flex: 1 1;
}

#rugs-work-img-container img {
    width: 100%;
}

#puppy-header {    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 702px;
    padding-top: 102px;
    background-position: top 102px center;
    background-repeat: no-repeat;
    background-image: url(https://cdn.shopify.com/s/files/1/0284/2666/6115/files/DogLovers_Hero_Desktop_0120.jpg?v=1579042346);
    background-size: auto;
}

#ruggable_logo {
    width: auto;
    margin: auto 0;
    max-width: 230px;
}

a:hover {
    color: inherit;
    text-decoration-color: #d9a600;
}

#promo-nav-container a:hover {
    text-decoration-color: #fff
}

.referer-div {
    position: absolute;
    top: 10px;
    right: 30px;
    text-align: right;
    margin-right: 33px;
    padding-bottom: 4px
}

#dog-approved-container {
    text-align: center;
    padding: 80px;
}

#dog-approved-container h2 {
    margin-bottom: 80px;
}

.dg-icon-wrapper img {
    height: 80px;
}

.show-mobile {
    display: none;
}

@media only screen and (max-width: 780px) {
    #navs-container {
        font-size: 16px;
    }

    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: block;
    }

    #navigation-container {
        padding: 0;
        height: 70px;
    }
    #navigation-wrapper {
        padding: 0;
    }

    #puppy-header-text {
        max-width: 380px;;
    }
    h1 {
        font-size: 55px;
    }

    #puppy-header {
        padding-top: 112px;
    }

    #works-container {
        flex-direction: column;
    }

    #rugs-work-img-container {
        padding: 0;
    }

    #dog-approved-container {
        padding: 80px 0;
    }

    .dg-icon-wrapper img {
        height: 54px;
    }
}

@media only screen and (max-width: 1440px) {
    #works-container {
        align-items: start;
    }
}