body {
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
}

#content-container {
    max-width: 700px;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
}

#screen-nav-container {
    font-weight: bold;
    margin: auto;
    padding-top: 100px;
    letter-spacing: 2px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.nav-buttons {
    z-index: 100;
    font-weight: bold;
    cursor: pointer;
    outline: 1px solid;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 180px;
}

.nav-buttons:hover {
    color: grey;
    background: lightgrey;
    outline: 1px solid lightgrey;
}

#screen-content {
    font-size: 16px;
}

#ingredients-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#ingredients-content > div {
    margin: 0 34px;
    width: 100px;
}

.percent-ingredients-wrapper {
    font-size: 50px;
}

.ingredient-wrapper {
    font-size: 22px;
}

.nav-buttons.active-button {
    outline: 1px solid black;
    background-color: black;
    color: white;
}

#bars-wrapper {
    padding-top: 10px;
    padding-bottom: 30px;
}

.text-content {
    max-height: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
#content3-container > div {
    display: none;
}

#content3-container.active-container > div {
    display: flex;
    justify-content: center;
}

.text-content.active-container {
    display: block;
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    #content1-nav-button {
        border-bottom: none;
    }
    #content2-nav-button {
        border-bottom: none;
    }

    .nav-buttons {
        background-color: white;
        font-size: 16px;
        align-items: center;
        padding: 13px 0px 13px 45px;
        width: 100%;
        outline: none;
        text-align: left;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        box-sizing: border-box;
    }
    
    .nav-buttons:after {
        content: "+";
        float: right;
        margin-right: 45px;
    }

    .nav-buttons.active-button:after {
        content: "-"
    }

    #screen-nav-container {
        flex-direction: column;
        padding: 0;
    }

    .nav-buttons.active-button {
        outline: none;
        background-color: white;
        color: black;
        border-top: 1px solid black;
        border-bottom: none;
    }

    body {
        padding: 0;
        margin: 0;
    }

    .text-content {
        font-weight: normal;
        display: block;
        max-height: 0;
        /* overflow: hidden; */
        transition: all 0.5s;
        letter-spacing: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #content3-container > #ingredients-content {
        justify-content: space-around;
    }

    #ingredients-content > div {
        margin: 0;
        width: 100px;
    }
}
